body {
}
.container-left { 
    width: 50%;
    float:left;
    padding-left: 2em;
}
.container-right { 
    width: 50%;
    float:left;
    padding-right:2em;
}
.bio_pic_left{
    margin: 0 auto;
    width: 306px;
}
.bio_pic_right{
    margin: 0 auto;
    width: 342px;
}
.selected{
    color: #e6a756!important;   
}
.bg-color { 
    background-color: #1C3144;
}
p {
    color:white;
}
.header-about{ 
    color:white;
}
.groll-left { 
    width: 50%;
    height: auto;
    padding-left: 2em;
    float: left;
}
.groll-right{
    float: right;
    width: 50%;
    padding-left: 2em;
     padding-top:2em;
    
}
.groll-container{
    width: 80%;
    overflow: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color:#1C3144 !important;
    
}
.groll-pic{
    height:auto;
}
.jen-left { 
    width: 50%;
    height: auto;
    padding-left: 2em;
    float: left;
}
.jen-right{
    float: right;
    width: 50%;
    padding-left: 2em;
    padding-top:2em;
    
}
.jen-container{
    width: 80%;
    overflow: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color:#1C3144 !important;
    
}
#header{
    text-align:center;
    font-weight:bold;
}
h2,h3{ 
    color: #FFB62B;
}
.nav-item{
    padding-bottom:1em !important;
}
.jen-pic {
    width: 30% !important;
}
@media(max-width:750px) {
    .nav-social {
        float: none !important;
        text-align: left !important;
    }

        .nav-social > .nav-item {
            float: none !important;
            padding-bottom: 0 !important;
        }

    #header {
        padding-top: 1em;
    }

    .groll-container { 
        width: 100%;
        padding-left: 0;
        padding-right:0;

    }
    .groll-left {
        width: 100%;
        padding-right:1em;
        padding-left:1em;
        float:none;
    }
    .groll-right {
        float: none;
        width:100%;
        padding-left:1em;
        padding-right:1em;
    }

    .jen-container { 
        width: 100%;
        padding-left: 0;
        padding-right:0;

    }
    .jen-left {
        width: 100%;
        padding-right:1em;
        padding-left:1em;
        float:none;
    }
    .jen-right {
        float: none;
        width:100%;
        padding-left:1em;
        padding-right:1em;
    }
    .jen-pic {
        width: 75% !important;
    }
    
}
.nav-header
{
    padding-top: 1em;
    overflow: auto;
}
.logo-container
{
    float: left;
    width: 171px;
    margin-left: 10px;
}
@media (min-width:992px) {
    .about-heading .about-heading-img {
        position: relative;
        z-index: 0;
    }
} 
.about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
}
.nav-container
{
    float: left;
    width: 149px;
    margin-left: 10px;
    font-family: Raleway;
}

.nav-list > .nav-item
{
    width: 149px;
    float: left;
}

.nav-item
{
    padding-bottom: 1em;
}
.nav-item a
{
    font-size: 20px;
    color: white;
}
.nav-item a:hover
{
    text-decoration: none;
    color: pink;
}

.nav-social
{
    float: right;
    width: 235px;
    margin-left: 10px;
    font-family: Raleway;
    color: white;
    text-align: right;
    margin-right: 10px;
}

.nav-social > .nav-item
{
    float: right;
}
.bg-faded {
    background-color: rgba(255, 255, 255, .85);
}
.footer {
    background-color: #1C3144;
}
.text-faded {
    color: rgba(255, 255, 255, .3);
}
body {
    font-family: Lora;
    background: url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Raleway;
}
p {
    line-height: 1.75;
}
.text-faded {
    color: rgba(255, 255, 255, .3);
}
.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: Raleway;
}
.site-heading .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
}
.site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
}
.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.section-heading {
    text-transform: uppercase;
}
.section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
}
.section-heading .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
}
.bg-faded {
    background-color: rgba(255, 255, 255, .85);
}
#mainNav {
    
    font-family: Raleway;
}
#mainNav .navbar-brand {
    color: #e6a756;
}
#mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, .7);
    font-weight: 800;
}
#mainNav .navbar-nav .nav-item.active .nav-link {
    color: #e6a756;
}
@media (min-width:992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
    font-size: .9rem;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, .4);
}
#mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #e6a756;
}
}.btn-xl {
    font-weight: 700;
    font-size: .8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.intro {
    position: relative;
}
@media (min-width:992px) {
    .intro .intro-img {
    width: 75%;
    float: right;
}
.intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
}
.intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
}
}@media (min-width:1200px) {
    .intro .intro-text {
    width: 45%}
}
 .cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.cta .cta-inner {
    position: relative;
    padding: 3rem;
    margin: .5rem;
    background-color: white;
}
.cta .cta-inner:before {
    border-radius: .5rem;
    content: '';
    position: absolute;
    top: -.5rem;
    bottom: -.5rem;
    left: -.5rem;
    right: -.5rem;
    border: .25rem solid rgba(255, 255, 255, .85);
}
@media (min-width:992px) {
    .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
}
.about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
}
}@media (min-width:992px) {
    .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
}
.product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
}
.product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
}
}.list-hours {
    font-size: .9rem;
}
.list-hours .list-hours-item {
    border-bottom: 1px solid rgba(230, 167, 86, .5);
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    font-style: italic;
}
.list-hours .list-hours-item.today {
    font-weight: 700;
    color: #e6a756;
}
@media (min-width:992px) {
    .list-hours {
    width: 50%;
    font-size: 1.1rem;
}
}.address strong {
    font-size: 1.2rem;
}
.footer {
    background-color: #1C3144;
}
.text-primary {
    color: #FFB62B!important;
    font-weight: bold;
}
.bg-primary {
    background-color: #e6a756!important;
}
.btn {
    box-shadow: 0 3px 3px 0 rgba(33, 37, 41, .1);
}
.btn-primary {
    background-color: #e6a756;
    border-color: #e6a756;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #df902a;
    border-color: #df902a;
}
.font-weight-light {
    font-weight: 100!important;
}
.glyphicon:before {
  content: "\e182";
}
.selected{
    color: #e6a756!important;
}

.logo-container
{
    float: left;
    width: 171px;
    margin-left: 10px;
}

.nav-header
{
    padding-top: 1em;
    overflow: auto;
}

.nav-container
{
    float: left;
    width: 149px;
    margin-left: 10px;
    font-family: Raleway;
}

.nav-list > .nav-item
{
    width: 149px;
    float: left;
}

.nav-item
{
    padding-bottom: 1em;
}

.nav-item a
{
    font-size: 20px;
    color: white;
}

.nav-item a:hover
{
    text-decoration: none;
    color: pink;
}

.nav-social
{
    float: right;
    width: 235px;
    margin-left: 10px;
    font-family: Raleway;
    color: white;
    text-align: right;
    margin-right: 10px;
}

.nav-social > .nav-item
{
    float: right;
}

.facebook-style
{
    white-space: nowrap;
}

.social-icon
{
    padding-right: 10px;
}

.phone-number
{
    font-size: 22px;
    font-weight: bold;
}

.wide-color
{
    background-color: #1C3144;
}

.page-content
{
    overflow: auto;
}



.prices-info-container {
    padding-left:1em;
}
#prices-info-column {
    width:25%;
    float:left;
}
#calendar-column {
    width:75%;
    float:right;
}
.classes-page-content {
    overflow:hidden;
}
.pricing-type {
    font-weight:bold;
}