body {
}
.contact-form-container {
    /*display:inline-block!important;*/   
    align-content:center; 
}
#contact-form-lower{
    padding-top:1em; 

}

#contact-header-lower
{
    padding-top:1em;
}

.container-contact-info {
    align-content:center;
}

.contact-form {
    width:80%;
    margin: 0 auto;
}
#cincinnati{
    padding-left:18px;
}

.contact-left-side
{
    width: 50%;
    float: left;
}

.contact-info-container
{
    background-color: white;
    opacity: .95;
    margin: 3em;
}

.contact-info
{
    width: 215px;
    margin: 0 auto;
    padding-top: 1em;
}

.map-container
{
    width: 50%;
    float: left;
}

.contact-page-content
{
    overflow: auto;
}