body {
}
.logo {
    float: left;
    padding-left: 2em;
}
.header{
    padding-top: 2em!important;
}
.intro-container { 
    padding-top:2em;
}
.bg-color { 
    background-color: #1C3144;
}
.intro-text {
    color: white;
}

.intro-btn {
    background-color:#FFB62B;
    color: black;
}

.intro-middle {
    background-color:#FFB62B
}

.intro-footer { 
    color: white;
}
.main-pic { 
    width: 50%;
    height: auto;
    float: left;
}
.main-content {
    float: right;
    width: 50%;
    padding-left: 2em;
    
}
.main-container{
    width: 80%;
    overflow: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    
}
.meet-header{
    text-align:center;
    color: black !important;
}