<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About us</title>

    <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/about.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <!-- Navigation -->
    <div class="nav-header">
        <div class="logo-container">
            <a href="index.html">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/logo.jpg" alt="">
            </a>
        </div>
        <div class="nav-container">
            <div class="nav-list">
                <div class="nav-item">
                    <a href="index.html">Home</a>
                </div>
                <div class="nav-item">
                    <a href="about.html">About us</a>
                </div>
                <div class="nav-item">
                    <a href="classes.html">Classes</a>
                </div>
                <div class="nav-item">
                    <a href="contact.html">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="nav-social">
            <div class="nav-item">
                <a href="https://www.facebook.com/livingfitness18/" class="facebook-style">Visit our Facebook Page!</a>
            </div>
            <div class="nav-item phone-number">
                513-918-2042
            </div>
        </div>
    </div>
    
    <h2 id="header">Our Team</h2>
    <div class="bg-faded rounded groll-container">
        <div class="groll-left">
            <h3>Maureen Groll</h3>
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0 groll-pic" src="img/maureen_bio_tst.jpg" alt="">
            <p>"I want to inspire people.  I want them to say because of you I didn’t quit!"</p>
        </div>
        <div class="groll-right">            
            <p>I have had a passion for health and fitness for as long as I can remember! I am lucky enough to have been able to turn my favorite hobby into an interesting and rewarding career that means the world to me!</p>
            <p>As a certified group fitness instructor and personal trainer my experience includes teaching fitness classes at several area gyms managing the Fitness Center at a local facility, conducting personal training sessions with clients ranging in age from pre-teen to 70+ years of age and acting as the Strength and Conditioning Coach for a nearby high school.</p>
            <p>I am a married 53 year old mother of four adult children. I understand firsthand the challenges of blending your fitness plan and health goals with the demands of a job, a constantly changing schedule and a busy family! Schedule an appointment at Living Fitness and I will use my personal and professional experience to create a fitness program for you that will work and that will help you feel happier, healthier, more confident and more energetic! I promise you… fitness can be FUN!! It’s never too late to start!</p>
        </div>
    </div>
    <div class="bg-faded rounded jen-container">
        <div class="jen-left">
            <h3>Jennifer Sferrazza</h3>
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0 jen-pic" src="img/jen_tst.jpg" alt="">
            <p>"Never give up on a dream just because of the time that it will take to accomplish it.  Time will pass away."   </p>
        </div>
        <div class="jen-right">
            
            <p>I have been married for 22 years and blessed to be the mother of two teenagers.  I have a Bachelors degree in Business from Miami University and have been certified in group fitness and certified through AAAI/ISMA as a personal trainer.  My fitness career began 20 years ago when I began taking fitness classes at a local gym.  I quickly realized that I loved fitness and needed to make it a daily routine in my life.  I became a certified group instructor through AFAA and focused on inspiring, challenging, and motivating others participating in my classes.  I then expanded my love for health and fitness to include personal training so that I could work closely with clients and customize their fitness programs to include specific goals that improve their overall fitness and health.</p>
            <p> My  desire when training a client or instructing a group class is to help every client have a fun, positive, and motivating experience.  I want to help them  gain confidence in what they are trying to accomplish no matter what that goal is.  Fitness is a lifestyle with no finish line, therefore we need to incorporate fitness into our daily lives in order to maintain better health, strength, balance and mental well being.  You are never too late to start a fitness regimen or commit yourself to leading a healthier lifestyle.  </p>
        </div>
    </div>
    
    
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Living Fitness 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
