<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Living Fitness</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <div class="nav-header">
        <div class="logo-container">
            <a href="index.html">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/logo.jpg" alt="">
            </a>
        </div>
        <div class="nav-container">
            <div class="nav-list">
                <div class="nav-item">
                    <a href="index.html">Home</a>
                </div>
                <div class="nav-item">
                    <a href="about.html">About us</a>
                </div>
                <div class="nav-item">
                    <a href="classes.html">Classes</a>
                </div>
                <div class="nav-item">
                    <a href="contact.html">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="nav-social">
            <div class="nav-item">
                <a href="https://www.facebook.com/livingfitness18/" class="social-icon"><i class="fa fa-facebook"></i></a>
                <a href="https://www.facebook.com/livingfitness18/" class="social-icon"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/livingfitness18/"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="nav-item">
                513-918-2042
            </div>
        </div>
    </div>
    <!-- End Nav -->

    <section class="page-section clearfix">
        <div class="container">
            <div class="intro-container">
                <div class="intro-text text-center bg-color p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper"></span>
                        <span class="section-heading-lower">Living fit starts here</span>
                    </h2>
                    <p class="mb-3 intro-text">
                        We specialize in personal training, small group training and fitness classes. 
                        We are here to provide you with the personal attention, comfortable atmosphere and motivation YOU need to help you achieve your fitness goals!
                    </p>
                    <div class="intro-button mx-auto">
                        <a class="btn btn-xl intro-btn" href="contact.html">Visit Us Today!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section cta intro-middle">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Our Promise</span>
                            <span class="section-heading-lower">To You</span>
                        </h2>
                        <p class="mb-0">
                            When you walk into our gym we are dedicated to helping you become happier, healthier and stronger.  
                            We focus on creating a positive, energetic atmosphere to inspire our clients to better their lives through fitness.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        

    </section>
    <div class="bg-faded rounded main-container">
        <div class="main-pic">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0 " src="img/bio.JPG" alt="">
        </div>
        <div class="main-content">
            <h2 class="section-heading mb-4">
                <a class="section-heading-lower meet-header" href="about.html">MEET OUR TRAINERS</a>
                
            </h2>
            <p>At Living Fitness we strive to provide you with the comfortable atmosphere and personal attention you need to turn your fitness goals into reality! Whether you are just beginning your fitness journey, training for a specific event, or simply want to be a happier, healthier YOU, we will provide you with the inspiration, tools and knowledge you need to be successful. We will show you how to make fitness a fun and rewarding part of your everyday life!</p>
        </div>
    </div>

    <footer class="footer text-faded text-center py-5 intro-footer">
        <div class="container">
            <p class="m-0 small intro-footer">Copyright &copy; Living Fitness 2018</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>